    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch flex-grow-1" id="#kt_header_menu" data-kt-menu="true">
        <div class="menu-item menu-lg-down-accordion me-lg-1">
            <span class="menu-link py-3">
                <a class="menu-link py-3" href="#">
                    <span class="menu-title">Trang chủ</span>
                </a>
            </span>
        </div>
        <div class="menu-item menu-lg-down-accordion me-lg-1">
            <span class="menu-link py-3">
                <a class="menu-link py-3" href="{% url 'customer:info' %}">
                    <span class="menu-title">Tài khoản</span>
                </a>
            </span>
        </div>
        <div class="menu-item menu-lg-down-accordion me-lg-1">
            <span class="menu-link py-3">
                <a class="menu-link py-3" href="#">
                    <span class="menu-title">Sock</span>
                </a>
            </span>
        </div>
        <div class="menu-item menu-lg-down-accordion me-lg-1">
            <span class="menu-link py-3">
                <a class="menu-link py-3" href="#">
                    <span class="menu-title">Nạp tiền</span>
                </a>
            </span>
        </div>
    </div>